img {
    /* %size of the parent element (body) */
    width: 30%;
    /* for 3 images across, 30+30+30=10% remains*/

    /* distribute 10% around the page */
    /* left, right, left, right, left, right (6 places to distribute 10%) */
    /* 10/6=1.6 */
    /* margin: 1.6666%; */
    margin: calc(10%/6);
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
}